@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
  :root {

  }

}

body {

}
.clip-slope {
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}


html {
  scroll-behavior: smooth;
}

.niconne-regular {
  font-family: "Niconne", cursive;
  font-weight: 400;
  font-style: normal;
}

